@keyframes changing{
    0% {
        background-position: 0%, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {
        background-position: 0%, 50%;
    }
  }
.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E6E6FA;
    text-shadow: 2px 4px black;
}
.body::before {
    content: '';
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0; 
    z-index: -1; 
    background: url(/src/image/bg.jpg) center / cover no-repeat;
    filter: blur(5px);
   }
.header{
 
    margin-block-start: 5px;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}
.nav_menu{
display: flex;
justify-content: center;

}
.nav_item{
  display: flex;
  gap: 150px;
}
.nav_link{
  font-size: clamp(0.625rem, 8.913vw - 0.058rem, 1.438rem);
  text-decoration: none;
  transform: scale(1);
}
.nav_link:hover{
    font-size: clamp(0.625rem, 8.913vw - 0.058rem, 1.838rem);
    transition: 1s;
    border-bottom: 1px solid gray;
}
.header_title{
  margin-block-start: 80px;
  font-size: clamp(0.625rem, 8.913vw - 0.058rem, 3.438rem);
}
.container{
    margin-block-start: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    gap: 40px;
}
.title{
  font-size: clamp(0.625rem, 8.913vw - 0.058rem, 4.438rem);
}
.temp{
  font-size: 40px;
  text-shadow: 2px 2px black;
  font-size: clamp(0.625rem, 8.913vw - 0.058rem, 3.438rem);
}
.temp::after{
  content: "°";
}
.map{
  border: 5px rebeccapurple solid;
  width: 100%;
  min-height: 600px;
  border-radius: 50px;
  
}

.form_input{
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 42px;
}

  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: red;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color: #fff;
    font-size: clamp(0.875rem, 0.259vw + 0.814rem, 0.125rem);
    letter-spacing: 2px;
    font-weight: 100;
    text-shadow: 1px 0px #000;
  }
  .btn-search{
    width: 50px;
    height: 95px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 400px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid white;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    text-shadow: 2px 0px #000;
    color: #fff;
    width: 400px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .body:hover{
    cursor: default;
  }
  .popup_section{
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
        opacity: 0;
  }
  
  .popup_yes{
    border: 3px white solid;
    background-image: url(/src/image/bg.jpg);
    text-shadow: none;
    color: white;
    min-width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;

   
  }
  .popup_title{
    border-bottom: 1px white solid;
  }
  .popup_p{

  }
  .popup_is-animated {

    transition: visibility 0s 0.6s, opacity 0.6s;
}
  .closeModal {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 55px;
    right: 47%;
    width: 24px;
    height: 24px;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity ease 0.5s;
  
    &:hover {
      opacity: 1;
    }
  }
  
  .closeModal::before,
  .closeModal::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: white;
  }
  
  .closeModal::before {
    transform: rotate(45deg);
  }
  
  .closeModal::after {
    transform: rotate(-45deg);
  }
@media (max-width: 1024px) { 
  .input-search::placeholder{
    color: #fff;
    letter-spacing: 2px;
    font-weight: 100;
    text-shadow: 1px 0px #000;
  }
  .btn-search ~ .input-search{
    width: 100%;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid white;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search{
    text-shadow: 2px 0px #000;
    color: #fff;
    width: 100%;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .nav_menu{
    display: flex;
    justify-content: center;
    
    }
    .nav_item{
      display: flex;
      gap: 50px;
    }
}